<div class="container">
    <div class="card card-container">
        <img id="profile-img" class="profile-img-card" src="//ssl.gstatic.com/accounts/ui/avatar_2x.png" />
        <p id="profile-name" class="profile-name-card"></p>
        <form [formGroup]="inicioForm" (ngSubmit)="entrar()" class="form-signin">
            <span  id="reauth-usuario" class="reauth-usuario"></span>
            
            <label class="form-label">Usuario</label>
            <input formControlName="username" type="text" id="inputUsuario" class="form-control" placeholder="Ingrese su usuario">
            
            <label class="form-label">Contraseña</label>
            <input formControlName="password" type="password" id="inputPassword" class="form-control" placeholder="Ingrese su contraseña">
            <a><button class="btn btn-lg btn-primary btn-block btn-signin" type="submit">Ingresar</button></a>
        </form><!-- /form -->
        <a routerLink="/registrarse" class="registrarse">Registrarse</a>
        <a routerLink="" class="registrarse mt-1">Pagina Principal</a>

    </div><!-- /card-container -->
</div>