*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all .2s linear ;
    text-decoration: none;
}


.btn{
    outline: none;
    border: none;
    border-radius: 5rem;
    background: #845cc5;
    color:#fff;
    cursor: pointer;
    height:3.5rem;
    width: 15rem;
    font-size: 1.7rem;
    box-shadow: 0 .2rem .5rem rgba(0,0,0,.3);
}
  
.btn:hover{
    letter-spacing: .1rem;
    opacity: .8;
}

.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 1rem 0rem;
    position: absolute;
    top: 0; left: 0;
    z-index: 100;
}

.header .logo{
    font-size: 2.5rem;
    color: #fff;
}

.header .navbar ul{
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: space-around;
    
}

.header .navbar ul li{
   margin: 0 0.5rem;
}

.header .navbar ul li a{
    font-size: 1.9rem;
    color: #fff;
    
}

.header .navbar ul li a:hover{
    color: #ccc;
}


.header .fa-bars{
    color: #fff;
    cursor: pointer;
    font-size: 2rem;
    display: none;
}

/*Home*/

.home{
    min-height: 100vh;
    width: 100%;
    background:linear-gradient(purple,rgb(133, 105, 185));
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    text-align: center;
    padding:0 1rem;
    position: relative;
    overflow: hidden !important;
  }
  
  .home .banner{
    color:#fff;
    font-size: 5rem;
    text-shadow: 0 .3rem .5rem rgba(0,0,0,.3);
  }
  
  .home .slogan{
    color:#eee;
    font-size: 2.5rem;
    font-weight: 400;
  }
  
  .home button{
    height: 4rem;
    width: 18rem;
    background:#fff;
    color: #444;
    cursor: pointer;
    border:none;
    outline: none;
    margin-top: 1rem;
    font-size: 2rem;
    font-weight: 400;
    box-shadow: 0 .3rem .5rem rgba(0,0,0,.3);
  }
  
  .home button:hover{
    letter-spacing: .1rem;
  }
  
  .home .wave{
    position: absolute;
    bottom: -.5rem;
    left: 0;
    height:11rem;
    width: 100%;
    background: url(/assets/img/wave.png);
    background-size: 100rem 11rem;
    background-repeat: repeat-x;
    animation:waves 10s linear infinite;
  }
  
  .home .wave2{
    animation-direction: reverse;
    opacity: .2;
  }
  
  .home .wave3{
    animation-duration: 4s;
    opacity: .5;
  }


@keyframes waves{
    0%{
      background-position-x: 0;
    }
    100%{
      background-position-x: 100rem;
    }
  }
  
  
  .home .fa-cog{
    position: absolute;
    font-size: 30rem;
    opacity: .15;
    color:#fff;
    animation: rotate 10s linear infinite;
  }
  
  .home .nut1{
    top:10%; left: -15rem;
  }
  
  .home .nut2{
    bottom:23%; right: -13rem;
    animation-direction: reverse;
  }
  
  @keyframes rotate{
    100%{
      transform: rotate(360deg);
    }
  }
  
/*About us*/

.about{
    text-align: center;
    position: relative;
    overflow: hidden;
}
  
.row{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding:0 2rem;
}

.about .row .content{
    width: 60%;
}

.image{
  width: 40%;
}

.about .row .content h2, .subtitle{
    font-size: 2.7rem;
    color: #845cc5;
    
}

p{
    font-size: 1.3rem;
    color: #333;
    padding:1rem 0;
    text-align: justify;
}

.about::before, .about::after{
    content: '';
    position: absolute;
    z-index: -1;
    opacity:.2;
    border-radius: 50%;
}

.about::before{
  height:20rem;
  width:20rem;
  background:#845cc5;
  bottom:-6rem; left:-7rem;
}

.about::after{
  height:30rem;
  width:30rem;
  background:#845cc5;
  top:1rem; right:-3rem;
}



.subtitle-h3{
  color: #845cc5;
}

/*Preguntas frecuentes*/

.alternative{
  background-color:#845cc5;
}

.subtitleDark{
  font-size: 2.5rem;
}

.accordion-header{
  background-color: #845cc5;
  margin:1rem 0;
  box-shadow: .1rem .1rem .3rem rgba(0,0,0,.3);
  cursor: pointer;
}

.accordion-header span{
  display: inline-block;
  text-align: center;
  height:4rem;
  width:5rem;
  line-height: 4rem;
  font-size: 2rem;
  background:#fff;
  color:#333;
  clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%);
}

.accordion-header h3{
  display: inline;
  color: #845cc5;
  font-weight: 400;
  padding-left: .5rem;
  font-size: 1.5rem;
}

.accordion-body{
  padding:1rem;
  color: #333;
  box-shadow: .1rem .1rem .3rem rgba(0,0,0,.3);
  font-size: 1.3rem;

}

div.avatar {
  /* cambia estos dos valores para definir el tamaño de tu círculo */
  width: 500px;
  height:500px;
  /* los siguientes valores son independientes del tamaño del círculo */
  background-repeat: no-repeat;
  background-position: 50%;
  border-radius: 50%;
  background-size: 100% auto;
  margin: 0 auto;
}

/*ubicacion*/

.map{
  margin: 0 100px;
}

ul li{
  color: #333;
}


