<!--Header-->
<header class="header">
    <a href="#" class="logo">TuCuesta</a>
    <div class="fas fa-bars"></div>
    <nav class="navbar">
        <ul>
            <li><a href="#">Inicio</a></li>
            <li><a href="#">Nosotros</a></li>
            <li><a href="#">Nuestros Servicios</a></li>
            <li><a href="#">Revistas</a></li>  
        </ul>
    </nav>
</header>

<!--seccion Home-->
<section id="home" class="home">

    <h1 class="banner">Encuestas Electorales</h1>
    <h3 class="slogan">Dejanos saber tu opinión</h3>
    <a href="#"><button>Registrate</button></a>
    
    
    <div class="wave wave1"></div>
    <div class="wave wave2"></div>
    <div class="wave wave3"></div>
    
    <div class="fas fa-cog  nut1"></div>
    <div class="fas fa-cog nut2"></div>
    
    
</section>

<section id="about" class="about">
    <h1 class="heading">Nosotros</h1>

    <div class="row">
        
      <div class="content">
        <h3>We build websites that build your busines</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea amet iure deserunt doloremque voluptate distinctio rerum! Quas sunt inventore illum facere minus voluptas fugit, magni quidem cumque! Animi, illo magni.</p>
        <a href="#"><button class="btn">read more</button></a>
      </div>
    
      <div class="image img-fluid">
        <img src="https://image.freepik.com/free-vector/contact-us-concept-landing-page_52683-12860.jpg" alt="">
      </div>
    </div>
</section>

