<div class="container">
  <div class="form">
    <div class="img-fluid contenedor_imagen">
        <img class="imagen" src="/assets/img/register.png">
    </div>
    <div class="contact-form">
      <span class="circle one"></span>
      <span class="circle two"></span>
      <form>
        <h3 class="title"> Registro Usuarios </h3>
        <div class="input-container">
            <label class="form-label" for="">Nombre</label>
            <input  type="text" name="nombre" class="form-control input">
        </div>
        <div class="input-container">
            <label class="form-label" for="">Correo</label>
            <input  type="email" name="email" class="form-control input">
        </div>
        <div class="input-container">
            <label class="form-label" for="">Usuario</label>
            <input  type="text" name="usuario" class="form-control input">
        </div>
        <div class="input-container">
            <label class="form-label" for="">Contraseña</label>
            <input type="password" name="contraseña" class="form-control input">
        </div>
        <button type="submit" value="enviar" class="btn mb-3">Registrar</button>
        <div class="text-center">
            <a routerLink="/login" class="mt-5">Ya tengo una cuenta</a>
        </div>
      </form>
    </div>
  </div>
</div>
